{% extends 'base.html.twig' %}

{% block body %}
    <h1>Access denied</h1>

    <p>
        You do not have access to this section. <a href="{{ path('homepage') }}">Return to the homepage</a>.
    </p>
{% endblock %}